# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local



# typescript
*.tsbuildinfo
next-env.d.ts

       
            #  {experiencesData && experiencesData.length > 0 ? (
            #   <VerticalTimeline lineColor="">
            #     {experiencesData.map((item, index) => 
            #     (
            #     <div>
            #       <p key={index}>{item.title}
            #       </p>
            #       <p key={index}>{item.description}
            #       </p>

            #     </div>  
                  
            #     ))}
            #   </VerticalTimeline>
            # ) : (
            #   <p>No experience data available.</p>
            # )}